@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: #050510;
  /* Dark void */
  color: white;
  margin: 0;
  overflow: hidden;
  /* Prevent scroll */
}

@layer utilities {
  .text-neon-blue {
    color: #00f3ff;
  }

  .bg-neon-blue {
    background-color: #00f3ff;
  }

  .border-neon-blue {
    border-color: #00f3ff;
  }

  .text-neon-pink {
    color: #ff00ff;
  }

  .bg-neon-pink {
    background-color: #ff00ff;
  }

  .border-neon-pink {
    border-color: #ff00ff;
  }

  .text-neon-green {
    color: #00ff00;
  }

  .bg-neon-green {
    background-color: #00ff00;
  }

  .border-neon-green {
    border-color: #00ff00;
  }

  .text-neon-yellow {
    color: #facc15;
  }

  .bg-neon-yellow {
    background-color: #facc15;
  }

  .border-neon-yellow {
    border-color: #facc15;
  }

  /* Animations */
  @keyframes shake {

    0%,
    100% {
      transform: translateX(0);
    }

    25% {
      transform: translateX(-5px);
    }

    75% {
      transform: translateX(5px);
    }
  }

  .animate-shake {
    animation: shake 0.2s ease-in-out 3;
  }

  @keyframes bounce-in {
    0% {
      transform: scale(0);
      opacity: 0;
    }

    60% {
      transform: scale(1.1);
      opacity: 1;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .animate-bounce-in {
    animation: bounce-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  }
}